body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar {
  margin-bottom: 20px;
  background-color: black;
  font
}

  .footer {
	padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
	border-top: 1px solid #e5e5e5;
  }
  
  .header {
         width: 100%;
	background-color: white;
        padding-bottom: 30px;
}

.banner {
         width: 80%;
         margin: 10px 10px 10px 15px;
}

.img-fluid{
           max-width: 100%;
           height: auto;

}

.img {
	vertical-aligh: middle;
	border-style: none;
}